workflow/Appointment Letter Generator.json
{
  "name": "Appointment letter",
  "nodes": [
    {
      "parameters": {
        "formTitle": "Generate Appointment Letter",
        "formFields": {
          "values": [
            {
              "fieldLabel": "Candidate Name"
            },
            {
              "fieldLabel": "Position Name"
            },
            {
              "fieldLabel": "Fixed CTC"
            },
            {
              "fieldLabel": "Joining Date"
            },
            {
              "fieldLabel": "To be signed by Date"
            },
            {
              "fieldLabel": "Candidate email"
            }
          ]
        },
        "options": {}
      },
      "id": "9755804d-8f61-46d0-b315-848eb1a336e9",
      "name": "On form submission",
      "type": "n8n-nodes-base.formTrigger",
      "position": [
        -1584,
        256
      ],
      "webhookId": "fa2c91c8-2045-4ca9-8499-65b09a4c42d1",
      "typeVersion": 2.2
    },
    {
      "parameters": {
        "content": "Use the form fields to update the Appointment letter template and create a candidate specific appointment letter in PDF format on the Goolge drive",
        "height": 432,
        "width": 224
      },
      "id": "0349ffa4-9bda-4bd1-9944-8676df0ea9f0",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -1664,
        64
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "operation": "copy",
        "fileId": {
          "__rl": true,
          "mode": "list",
          "value": "1B-AEAw4Uxg313lXW_HsoviNSE3UiRmebq7hICdbQPGo",
          "cachedResultUrl": "https://docs.google.com/document/d/1B-AEAw4Uxg313lXW_HsoviNSE3UiRmebq7hICdbQPGo/edit?usp=drivesdk",
          "cachedResultName": "Appointment Letter"
        },
        "name": "=Appointment Letter - {{ $json['Candidate Name'] }}",
        "options": {
          "copyRequiresWriterPermission": false,
          "description": ""
        }
      },
      "id": "b66b45c4-9254-4247-9575-a76ef5a614b9",
      "name": "Create a candidate copy of the appointment letter template",
      "type": "n8n-nodes-base.googleDrive",
      "position": [
        -1376,
        256
      ],
      "typeVersion": 3
    },
    {
      "parameters": {
        "operation": "update",
        "documentURL": "={{ $json.id }}",
        "actionsUi": {
          "actionFields": [
            {
              "action": "replaceAll",
              "text": "[Candidate Name]",
              "replaceText": "={{ $('On form submission').item.json['Candidate Name'] }}"
            },
            {
              "action": "replaceAll",
              "text": "[Position Name]",
              "replaceText": "={{ $('On form submission').item.json['Position Name'] }}"
            },
            {
              "action": "replaceAll",
              "text": "[Fixed CTC]",
              "replaceText": "={{ $('On form submission').item.json['Fixed CTC'] }}"
            },
            {
              "action": "replaceAll",
              "text": "[Joining Date]",
              "replaceText": "={{ $('On form submission').item.json['Joining Date'] }}"
            },
            {
              "action": "replaceAll",
              "text": "[To be signed by Date]",
              "replaceText": "={{ $('On form submission').item.json['To be signed by Date'] }}"
            },
            {
              "action": "replaceAll",
              "text": "[Date]",
              "replaceText": "={{  $now.toFormat('MM-dd-yyyy') }}"
            }
          ]
        }
      },
      "id": "29683bff-92ac-4642-a264-2b5f4d86d992",
      "name": "Update the candidate appointment letter with offer details",
      "type": "n8n-nodes-base.googleDocs",
      "position": [
        -1104,
        256
      ],
      "typeVersion": 2
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "mode": "id",
          "value": "={{ $json.documentId }}"
        },
        "options": {
          "binaryPropertyName": "data",
          "googleFileConversion": {
            "conversion": {
              "docsToFormat": "application/pdf"
            }
          }
        }
      },
      "id": "698317c4-b1fc-46ff-8b25-a7d99f617eab",
      "name": "Download the appointment letter as a PDF",
      "type": "n8n-nodes-base.googleDrive",
      "position": [
        -864,
        256
      ],
      "typeVersion": 3
    },
    {
      "parameters": {
        "name": "={{ $('Create a candidate copy of the appointment letter template').item.json.name }}",
        "driveId": {
          "__rl": true,
          "mode": "list",
          "value": "My Drive",
          "cachedResultUrl": "https://drive.google.com/drive/my-drive",
          "cachedResultName": "My Drive"
        },
        "folderId": {
          "__rl": true,
          "mode": "list",
          "value": "1NFN9rLttv6eF8vo2qWBCSzXgR4A3cjGr",
          "cachedResultUrl": "https://drive.google.com/drive/folders/1NFN9rLttv6eF8vo2qWBCSzXgR4A3cjGr",
          "cachedResultName": "Appointment Letter"
        },
        "options": {}
      },
      "id": "446d3fef-797c-4371-a0f1-0bc397e32cb3",
      "name": "Upload the PDF to Google drive",
      "type": "n8n-nodes-base.googleDrive",
      "position": [
        -640,
        256
      ],
      "typeVersion": 3
    },
    {
      "parameters": {
        "operation": "sendAndWait",
        "sendTo": "hr.manager@gmail.com",
        "subject": "=Approval required -  {{ $json.name }}",
        "message": "=Hi HR,\n\nPlease review and approve the appointment letter for {{ $('On form submission').item.json['Candidate Name'] }}\n\nThank You.\n ",
        "approvalOptions": {
          "values": {
            "approvalType": "double"
          }
        },
        "options": {}
      },
      "id": "1c3a33b8-7867-4032-ba12-b9d38e2d9237",
      "name": "Send message and wait for response",
      "type": "n8n-nodes-base.gmail",
      "position": [
        -400,
        256
      ],
      "webhookId": "f3148fbc-0a41-471e-9c96-025cfcfccfd4",
      "typeVersion": 2.1
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "version": 2,
            "leftValue": "",
            "caseSensitive": true,
            "typeValidation": "strict"
          },
          "combinator": "and",
          "conditions": [
            {
              "id": "d89063c7-bff6-48be-bd1d-fdce241bde75",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              },
              "leftValue": "={{ $json.data.approved }}",
              "rightValue": ""
            }
          ]
        },
        "options": {}
      },
      "id": "2d5ecdc0-a776-48d2-aa28-bbe9f8ec6018",
      "name": "If",
      "type": "n8n-nodes-base.if",
      "position": [
        -144,
        256
      ],
      "typeVersion": 2.2
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "mode": "id",
          "value": "={{ $('Upload the PDF to Google drive').item.json.id }}"
        },
        "options": {
          "googleFileConversion": {}
        }
      },
      "id": "def6f8ca-a8fc-4463-837b-62ae7fbad894",
      "name": "Download file",
      "type": "n8n-nodes-base.googleDrive",
      "position": [
        32,
        96
      ],
      "typeVersion": 3
    },
    {
      "parameters": {
        "sendTo": "={{ $('On form submission').item.json['Candidate email'] }}",
        "subject": "Appointment Letter",
        "message": "=Congratulations  {{ $('On form submission').item.json['Candidate Name'] }}\n\nPlease email before {{ $('On form submission').item.json['To be signed by Date'] }}",
        "options": {
          "attachmentsUi": {
            "attachmentsBinary": [
              {}
            ]
          }
        }
      },
      "id": "518feb03-7f18-4e8f-bbbd-363999c53be0",
      "name": "Send a message",
      "type": "n8n-nodes-base.gmail",
      "position": [
        208,
        96
      ],
      "webhookId": "a57db54b-1f8f-4824-becd-ad9ad444b91d",
      "typeVersion": 2.1
    },
    {
      "parameters": {
        "content": "Create a candidate specific version of the appointment letter and create a PDF version of it. Store this on the Google Drive",
        "height": 432,
        "width": 928
      },
      "id": "e31ef4c8-28d5-435e-94d8-1314d5af824e",
      "name": "Sticky Note1",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -1424,
        64
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "Human-In-The-Loop step - Send an email to the HR manager requesting to review the appointment letter and \"Approve\"or \"Reject\"",
        "height": 432,
        "width": 288
      },
      "id": "48ffb0a4-b8db-412b-a5c3-2e819af7c438",
      "name": "Sticky Note2",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -480,
        64
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "If the HR manager approves, send an email to the candidate with the appointment letter as a PDF attachment",
        "height": 256,
        "width": 384
      },
      "id": "0b7c62b6-f31f-4307-a545-c1a11254ce90",
      "name": "Sticky Note3",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        0,
        0
      ],
      "typeVersion": 1
    }
  ],
  "pinData": {},
  "connections": {
    "On form submission": {
      "main": [
        [
          {
            "node": "Create a candidate copy of the appointment letter template",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create a candidate copy of the appointment letter template": {
      "main": [
        [
          {
            "node": "Update the candidate appointment letter with offer details",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update the candidate appointment letter with offer details": {
      "main": [
        [
          {
            "node": "Download the appointment letter as a PDF",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download the appointment letter as a PDF": {
      "main": [
        [
          {
            "node": "Upload the PDF to Google drive",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upload the PDF to Google drive": {
      "main": [
        [
          {
            "node": "Send message and wait for response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send message and wait for response": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Download file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download file": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "67920630-3862-48b9-b238-f6f7ea1e9b2f",
  "meta": {
    "instanceId": "9f61c987d5e8e313be6f33a972435225c6ca1f64e8353a7b8a3c16e4ff94955e"
  },
  "id": "rlVLNK1sZRSyfL1l",
  "tags": []
}