workflow/Company Info Manager.json
{
  "name": "company info",
  "nodes": [
    {
      "parameters": {
        "fields": {
          "values": [
            {
              "name": "apiKey",
              "stringValue": "32aa914c947342169c4998b6701a77e0"
            },
            {
              "name": "newsAge",
              "type": "numberValue",
              "numberValue": "10"
            },
            {
              "name": "maxArticles",
              "stringValue": "20"
            },
            {
              "name": "emails"
            }
          ]
        },
        "options": {}
      },
      "id": "8434d573-7117-49cb-8684-130016102ef6",
      "name": "Setup",
      "type": "n8n-nodes-base.set",
      "position": [
        224,
        368
      ],
      "typeVersion": 3.2
    },
    {
      "parameters": {
        "fields": {
          "values": [
            {
              "name": "companyName",
              "stringValue": "={{ $json.summary.toLowerCase().replace('meeting with', '').replace('call with', '').trim() }}"
            }
          ]
        },
        "options": {}
      },
      "id": "b2ed5860-10d2-43db-ac8e-97a5beb02d81",
      "name": "Extract company name",
      "type": "n8n-nodes-base.set",
      "position": [
        912,
        160
      ],
      "typeVersion": 3.2
    },
    {
      "parameters": {
        "content": "### Latest company news before a call\n\nThis workflow will send you a list of latest news about a company for every meeting in your calendar each day, keeping you up to date with your leads and meeting partners.\n",
        "height": 192,
        "width": 436,
        "color": 4
      },
      "id": "2593688b-9c5b-47f5-886d-dbb5eb6c9361",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        0,
        0
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 7
            }
          ]
        }
      },
      "id": "5d396c82-f71b-4403-aef0-714c5fae344c",
      "name": "Every morning @ 7",
      "type": "n8n-nodes-base.scheduleTrigger",
      "position": [
        0,
        368
      ],
      "typeVersion": 1.1
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "leftValue": "",
            "caseSensitive": true,
            "typeValidation": "strict"
          },
          "combinator": "or",
          "conditions": [
            {
              "id": "bcfb06b1-d365-43a8-9802-869529baca98",
              "operator": {
                "type": "string",
                "operation": "startsWith"
              },
              "leftValue": "={{ $json.summary.toLowerCase() }}",
              "rightValue": "call with"
            },
            {
              "id": "4ea43ccf-d586-4985-87db-fc1e9f734351",
              "operator": {
                "type": "string",
                "operation": "startsWith"
              },
              "leftValue": "={{ $json.summary.toLowerCase() }}",
              "rightValue": "meeting with"
            }
          ]
        },
        "options": {}
      },
      "id": "b1059b26-3922-432b-8223-d6e602cf4830",
      "name": "Filter meetings",
      "type": "n8n-nodes-base.if",
      "position": [
        640,
        368
      ],
      "typeVersion": 2
    },
    {
      "parameters": {
        "url": "=https://newsapi.org/v2/everything?apiKey={{ $('Setup').first().json.apiKey }}&q={{ $json.companyName }}&from={{ DateTime.now().minus({ days: $('Setup').first().json.newsAge }).toFormat('yyyy-MM-dd') }}&sortBy=publishedAt&language=en&pageSize={{ $('Setup').first().json.maxArticles }}&searchIn=title",
        "options": {}
      },
      "id": "a7cd2f98-d330-4cc6-a53c-51001f5ba5a5",
      "name": "Get latest news",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        1104,
        160
      ],
      "typeVersion": 4.1
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "let html = `<table style=\"width: 100%\">`;\nhtml += '</table>';\n\nfor(article of $input.item.json.articles) {\n  console.log(article)\n  html += `\n    <tr>\n      <td style=\"display: flex; background-color: #f2f4f8; font-family: sans-serif; padding: 0.3em 0.5em\">\n        <div style=\"padding: 1em\">\n          <a style=\"display: block; margin-bottom: 10px; font-size: 1.2em\" href=\"${article.url}\">${article.title}</a>\n          <i>\n            ${article.description ? article.description : article.content}\n          </i>\n          <div style=\"margin-top: 1em\">\n            ${ article.source?.name ? '<b>Source:</b> ' + article.source?.name : '' }\n          </div>\n        </div>\n      </td>\n    </tr>\n  `\n}\nreturn { \"html\": html };"
      },
      "id": "f86a20b2-ba2d-4177-a325-7113c4456f2c",
      "name": "Format for email",
      "type": "n8n-nodes-base.code",
      "position": [
        1312,
        160
      ],
      "typeVersion": 2
    },
    {
      "parameters": {
        "sendTo": "={{ $('Setup').first().json.emails }}",
        "subject": "=Latest news for '{{ $('Extract company name').item.json.summary }}'",
        "message": "={{ $json.html }}",
        "options": {}
      },
      "id": "73c5a7a8-2423-4d18-84e3-43d5632963ec",
      "name": "Send news",
      "type": "n8n-nodes-base.gmail",
      "position": [
        1504,
        160
      ],
      "typeVersion": 2.1,
      "webhookId": "72e6d003-d6b7-4445-b705-dd0d3ca0a272"
    },
    {
      "parameters": {
        "content": "\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n### Configure your workflow here\n1. `apiKey` - Your API key for [News API](https://newsapi.org)\n2. `newsAge` - How old should news be, in days\n3. `maxArticles` - Number of articles that will be sent, max 100\n4. `emails`- List of email addresses that should receive the news, separated by commas",
        "height": 511.499984507795
      },
      "id": "06dac3ab-0b3b-4514-afb1-1d355133e5c9",
      "name": "Sticky Note1",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        160,
        320
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "\n\n\n\n\n\n\n\n\n\n\n\n\nThis will get all meetings that start with *Meeting with* or *Call with* but feel free to update the filter to suit your needs.",
        "height": 275.2500697149263,
        "width": 231.52514020446353
      },
      "id": "94a8680d-59e8-4dd0-8ca0-9af50d6e5bfa",
      "name": "Sticky Note2",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        624,
        352
      ],
      "typeVersion": 1
    },
    {
      "parameters": {},
      "id": "86959626-fa69-4052-88cf-4048a2d3d447",
      "name": "No meetings today",
      "type": "n8n-nodes-base.noOp",
      "position": [
        1504,
        384
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "operation": "getAll",
        "calendar": {
          "__rl": true,
          "mode": "list",
          "value": "milorad.filipovic19@gmail.com",
          "cachedResultName": "milorad.filipovic19@gmail.com"
        },
        "options": {
          "timeMin": "={{ $today }}",
          "timeMax": "={{ $today.plus({ days: 1 }) }}",
          "singleEvents": true
        }
      },
      "id": "42b970d3-1759-48b7-9c89-2581f8d187c6",
      "name": "Get meetings for today",
      "type": "n8n-nodes-base.googleCalendar",
      "position": [
        464,
        368
      ],
      "typeVersion": 1
    }
  ],
  "pinData": {},
  "connections": {
    "Setup": {
      "main": [
        [
          {
            "node": "Get meetings for today",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract company name": {
      "main": [
        [
          {
            "node": "Get latest news",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Every morning @ 7": {
      "main": [
        [
          {
            "node": "Setup",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter meetings": {
      "main": [
        [
          {
            "node": "Extract company name",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "No meetings today",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get latest news": {
      "main": [
        [
          {
            "node": "Format for email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format for email": {
      "main": [
        [
          {
            "node": "Send news",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get meetings for today": {
      "main": [
        [
          {
            "node": "Filter meetings",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "e02e9fe6-6c9e-4e60-8bbe-f425af990a3b",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "9f61c987d5e8e313be6f33a972435225c6ca1f64e8353a7b8a3c16e4ff94955e"
  },
  "id": "4gAKc4FDevQqLKlT",
  "tags": []
}